body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1ec;
    color:#333333;
  }
  
  #box {
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 35px;

  }
  #intro {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 350px;
    height: 100%;
  }
  #socials {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }
  .icons {
    width: 25px;
    height: 100%;
    margin: 0px 9px 0px 9px;
  }
  .link {
    font-weight: 700;
  }
  a:link {
    color: #1a0dab; 
    text-decoration: none;
  }
  
  a:visited {
    color: #660099; 
  }
  
  a:hover {
    color: #d61a3c; 
    text-decoration: underline;
  }
  
  a:active {
    color: #ff6600; 
  }

  #name {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 45px;
  }
  #description{
    margin-left: 20px;
    margin-top: 0px;
    font-weight: 600;
  }
  #socials {
    margin-left: 20px;
  }
  #about {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
  }
  hr {
    width: 90%;
    height: 1px; 
    background-color: #d1d5db;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  h3 {
    font-weight: bold;
    margin-left: 75px;
    margin-top: 0px;
  }
  table{
    margin-left: 100px;
    margin-right: 75px;
  }
  #workplace {
    font-weight: bold;
  }
  #dates {
    white-space: nowrap;
  }
  #education-container {
    width: 95%
  }
  #coursework-container, #skills-container, #projects-container {
    margin-left: 75px;
  }
  .description{
    color: #676363;
  }